<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/css/style2.css">
</head>
<body>
    <p><b>Instagarm - Signup.Instagram</b></p>
    <section>
        <div class="container">
            <div class="row">
                <div class="col_4"></div>
                <div class="col_4">
                    <div class="main">
                        <h1>Instagram</h1>
                        <h2 class="signin">Sign up to see photos and videos <br> from your friends.</h2><br>
                        <button class="btn1">Log in with Facebook</button><br><br>
                        <h4 class="or">--------------      OR        ---------------</h4><br>
                        <form action="" method="post">
                            <input type="text" placeholder="Mobile Number or Email" class="input1" name="number"><br>
                            <input type="text" placeholder="Full Name" class="input2" name="name"><br>
                            <input type="text" placeholder="User Name" class="input3" name="username"><br>
                            <input type="password" placeholder="Password" class="input4" name="password"><br>
                        

                        <p class="one">
                            People who use our service may have uploaded <br> your contact information to Instagram.
                            <a href="#" class="a1">Learn <br> More</a>
                        </p><br>
                        <p class="two">
                            By signing up, you agree to our 
                            <a href="#" class="a1">Terms</a> ,
                            <a href="#" class="a1">Privacy <br> Policy</a>  and 
                            <a href="#" class="a1">Cookies Policy</a> .
                        </p><br>
                        <button class="btn2" type="submit">signup</button><br>
                        </form>
                    </div>
                
                    <div class="sub">
                        <p class="three">
                            Have an account?<a href="#" class="log">Log in</a>
                        </p>
                    </div>
                
                    <div class="get">
                        <h2 class="app">Get the App.</h2>
                    </div><br>
                
                    <div class="pic">
                    <img src="../static/images/google play.png" alt="" height="80px" width="190px" class="g"> 
                    <img src="../static/images/microsoft.png" alt="" height="50px" width="140px" class="m">
                    </div>
                


                </div>
                <div class="col_4"></div>
            </div>
        </div>
    </section>

    <nav>
        <a href="#" class="line">Meta</a>
        <a href="#" class="line">About</a>
        <a href="#" class="line">Blog</a>
        <a href="#" class="noline">Jobs</a>
        <a href="#" class="line">Help</a>
        <a href="#" class="line">API</a>
        <a href="#" class="noline">privacy</a>
        <a href="#" class="noline">Terms</a>
        <a href="#" class="nolinewithwords">Top Accounts</a>
        <a href="#" class="noline">Locations</a>
        <a href="#" class="nolinewithwords">Instagram Lite</a>
        <a href="#" class="line">Threads</a>
        <a href="#" class="nolinewithwords">Contact Uploading & Non-Users</a>
        <a href="#" class="linewithwords">Meta Verified</a>
    </nav><br><br><br>



</body>
</html>